{
  "env": {
    "browser": true,
    "node": false
  },
  "rules": {
    "strict": 1,
    "eqeqeq": 2,
    "curly": [2, "multi-line"],
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-unused-vars": [2, {
      "vars": "local",
      "args": "after-used"
    }]
  },
  "globals": {
    "angular": false
  }
}
