{
  "extends": "airbnb/legacy",
  "rules": {
    "strict": [2, "global"],
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "padded-blocks": 0,
    "no-use-before-define": [2, "nofunc"],
    "object-curly-spacing": [2, "never"],
    "no-unused-vars": [2, {"args": "none"}],
    "vars-on-top": 1,
    "id-length": 0,
    "max-len": 0
  },
  "globals": {
    "angular": 1
  }
}
